// $### Primary

$scissors: radial-gradient(hsl(39, 89%, 49%) to hsl(40, 84%, 53%));

$paper: radial-gradient(hsl(230, 89%, 62%) to hsl(230, 89%, 65%));
$rock: radial-gradient(hsl(349, 71%, 52%) to hsl(349, 70%, 56%));
$lizard: radial-gradient(hsl(261, 73%, 60%) to hsl(261, 72%, 63%));
$cyan: radial-gradient(hsl(189, 59%, 53%) to hsl(189, 58%, 57%));

// ### Neutral

$text-dark: hsl(229, 25%, 31%);
$text-blue: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);

// ### Background

$bg-gradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%);
